<% include partials/header %>

<li class="blueClass">
    <%= room.title %>,
    <%= room.owner %>,
    <%= room.location %>,
    <%= room.description %>,
    £<%= room.price %>
</li>

<form class="button-standard" method="POST" action="/rooms/confirm">
    <button type="submit" name="bookRoomName" value="<%= room.title %>">Book This Room</button>
</form>

<form class="button-standard" method="GET" action="/rooms">
    <button type="submit" name="viewRooms">View Rooms</button>
</form>

<% include partials/footer %>
