<!--includes the partials, so all you need to write is the body!-->
<% include partials/header %>

<h1>Welcome to Dr. PJs MakersBnB!</h1>

<% if(errors != undefined){ %>
<ul>
    <% errors.forEach(function(error){ %>
    <li>
        <%= error.msg %>
    </li>
    <% })%>
</ul>
<% } %>

<!--stuff goes here-->
<h2>Add Room</h2>
<form method="POST" action="/rooms/add">
    <label>Room Name</label><br>
    <input type="text" name="title">
    <br>
    <label>Owner</label><br>
    <input type="text" name="owner">
    <br>
    <label>Location</label><br>
    <input type="text" name="location">
    <br>
    <label>Description</label><br>
    <input type="text" name="description">
    <br>
    <label>Price (£/pm)</label><br>
    <input type="text" name="price">
    <br>
    <label>Date available: Start</label><br>
    <input type="date" name="startDate">
    <br><br>
    <label>Date available: End</label><br>
    <input type="date" name="endDate">
    <br><br>
    <button type="submit" name="Submit">Submit</button>
</form>

<h2>Rooms</h2>

<ul>
<% rooms.forEach(function(room) { %>
    <li>
        <%= room.title %>,
        <%= room.owner %>,
        <%= room.location %>,
        <%= room.description %>,
        £<%= room.price %>
    </li>
<% })%>
</ul>

<% include partials/footer %>
