<% include partials/header %>
<section id="rooms">
    <h2>Rooms</h2>

    <div>
        <ul>
            <% rooms.forEach(function(room) { %>

            <li>
                <li>Room name: <%= room.title %></li>
                <li>Owner: <%= room.owner %></li>
                <li>Location: <%= room.location %></li>
                <li>Description: <%= room.description %></li>
                <li>Price: £<%= room.price %></li>
                <div class="button-rooms" id="Book<%= room.title %>">
                    <% if (room.booked === false) { %>

                    <form class="button-standard" method="POST" action="/rooms/book">
                        <button type="submit" name="roomName" value="<%= room.title %>">Book This Room</button>
                    </form>


                </div>
                <% } else { %>
                This room has been booked
                <% if(currentUser !== undefined) { %>
                <% if(currentUser.name === room.owner) { %>
                <div class="button-standard">
                <form method="POST" action="/rooms/unbook">
                    <button class="button-standard" type="submit" name="unbookRoomName" value="<%= room.title %>">Make This Room Free</button>
                </form>
                </div>
                <% } %>
                <% } %>
                <% } %>
            </li>
            <br>
            <% })%>
        </ul>
    </div>
</section>


<section>
    <% if (currentUser != undefined) { %>

    <form class="button-standard" method="POST" action="/rooms/add">
        <button type="submit" name="newRoom">New room</button>
    </form>
    <form class="button-standard" method="POST" action="/users/signout">
        <button type="submit" name="signOut" id="signOut">Sign out</button>

    </form>
    <% } else {%>
    <form class="button-standard" method="get" action="/signup">
        <button class="button-rooms" type="submit" name="signUp">Sign up</button>
    </form>
    <form class="button-standard" method="get" action="/signin">
        <button type="submit" name="signIn">Sign in</button>
    </form>
    <% } %>
</section>

<% include partials/footer %>
