<% include partials/header %>
<h2>Rooms</h2>

<ul>
    <% rooms.forEach(function(room) { %>
    <li>
        <%= room.title %>,
        <%= room.owner %>,
        <%= room.location %>,
        <%= room.description %>,
        £<%= room.price %>
        <form method="POST" action="/rooms">
            <button type="submit" name="bookThisRoom">Book This Room</button>
        </form>
    </li>
    <% })%>
</ul>

<% include partials/footer %>