<% include partials/header %>
<h2>Rooms</h2>

<ul>
    <% rooms.forEach(function(room) { %>
    <li>
        <%= room.title %>,
        <%= room.owner %>,
        <%= room.location %>,
        <%= room.description %>,
        £<%= room.price %>
        <% if (room.booked === false) { %>
        <form method="POST" action="/rooms">
            <button type="submit" name="book<%= room.title %>">Book This Room</button>
        </form>
        <% } %>
    </li>
    <% })%>
</ul>

<% include partials/footer %>